<section>
  <div class="container h-screen max-w-full">
    <div class="about mt-10">
      <h1 class="text-3xl text-center mb-10" data-aos="fade-up" data-aos-duration="1000">About Us</h1>
      <div class="team-container flex gap-4 justify-center items-center ms-8">
        <div class="team-image" data-aos="fade-right" data-aos-duration="1000">
          <img [src]="teamImg" class="object-fit" alt="About our team" />
        </div>
        <div class="team-content w-2/5" data-aos="fade-left" data-aos-duration="1000">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sit,
            aliquam blanditiis placeat quod error? Exercitationem eveniet, ab
            harum temporibus consequuntur iste modi tenetur nam. Aliquid maiores
            dolor ut alias?
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
