<section class="main w-full">
  <section class="banner relative">
    <img
      data-aos="zoom-out"
      class="object-fit"
      [src]="bgUrl"
      alt="Banner Image"
      loading="lazy"
    />
    <div
      class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 md:text-lg"
    >
      <div
        data-aos="fade-up"
        data-aos-duration="2000"
        class="flex flex-col gap-10"
      >
        <h1 class="text-6xl text-black font-bold">
          Experience the beauty of Nepal
        </h1>
        <p class="text-sky-300 text-lg">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae
          asperiores, maiores architecto perferendis earum totam ad adipisci
          eligendi accusantium possimus fuga aut molestiae a, quos repellat
          obcaecati impedit. Earum, maiores.
        </p>
      </div>
    </div>
  </section>

  <section class="explore relative m-10">
    <div class="flex flex-col-reverse md:flex-row items-center gap-5">
      <div class="image md:w-1/2">
        <img
          class="object-fit"
          data-aos="zoom-out"
          [src]="mainImg"
          alt="Main Image"
          loading="lazy"
        />
      </div>
      <div
        class="image-content md:w-1/2 md:text-md text-center flex flex-col gap-10"
      >
        <h2 class="text-2xl" data-aos="fade-right">
          Discover the beauty of Nepal with Us.
        </h2>
        <p data-aos="fade-left">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Necessitatibus, cupiditate, assumenda exercitationem repellat facere
          numquam earum cum consectetur itaque reprehenderit consequatur sunt
          illum reiciendis aliquid dolorum perspiciatis excepturi corrupti
          quisquam.
        </p>
      </div>
    </div>
  </section>

  <section class="discover relative m-10">
    <div class="flex flex-col md:flex-row items-center gap-5">
      <div
        class="image-content md:w-1/2 md:text-md text-center flex flex-col gap-10"
      >
        <h2 class="text-2xl" data-aos="fade-right">
          Discover the beauty of Nepal with Us.
        </h2>
        <p data-aos="fade-left">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Necessitatibus, cupiditate, assumenda exercitationem repellat facere
          numquam earum cum consectetur itaque reprehenderit consequatur sunt
          illum reiciendis aliquid dolorum perspiciatis excepturi corrupti
          quisquam.
        </p>
      </div>
      <div class="image md:w-1/2">
        <img
          class="object-fit"
          data-aos="zoom-out"
          [src]="bridgeImg"
          alt="Bridge Image"
          width="650"
          loading="lazy"
        />
      </div>
    </div>
  </section>

  <section class="experience relative mt-10">
    <img
      data-aos="zoom-out"
      class="object-cover"
      [src]="trekImg"
      alt="Trekking Image"
      loading="lazy"
    />
    <div
      class="absolute top-1/2 inset-y-full left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center text-white md:text-lg"
    >
      <div
        data-aos="fade-up"
        data-aos-duration="2000"
        class="flex flex-col gap-10"
      >
        <h1 class="text-6xl text-black font-bold">Discover Nepal with Us</h1>
        <p class="text-sky-300 text-lg">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae
          asperiores, maiores architecto perferendis earum totam ad adipisci
          eligendi accusantium possimus fuga aut molestiae a, quos repellat
          obcaecati impedit. Earum, maiores.
        </p>
      </div>
    </div>
  </section>
</section>
