<section class="max-h-xl">
  <div class="container">
    <div class="wrapper mt-10 flex flex-col justify-center items-center">
      <h1 class="text-3xl mb-10" data-aos="fade-up" data-aos-duration="1000">
        Partnering With You On Your Journey
      </h1>
      <p
        class="w-3/5 text-center"
        data-aos="fade-down"
        data-aos-duration="1000"
      >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet ullam
        incidunt et, magni dolorum assumenda, consequuntur voluptatum eos libero
        at, repudiandae culpa praesentium aperiam consectetur unde? Reiciendis
        explicabo distinctio aspernatur aliquam aut ducimus totam aliquid
        mollitia numquam nisi laborum, cum ea. Soluta, hic doloribus? Dolorum
        perspiciatis et, debitis placeat non quis in sequi accusamus omnis
        temporibus architecto saepe cupiditate, tempore qui maxime aliquam,
        natus eaque esse? Amet consectetur voluptate magnam minus possimus
        culpa, provident quam aliquam id et rem rerum.
      </p>
    </div>
    <div class="services my-10 flex justify-center gap-4">
      <div
        class="max-w-sm rounded overflow-hidden shadow-lg"
        data-aos="zoom-out"
        data-aos-duration="1000"
      >
        <img
          class="object-fit"
          [src]="serviceImg"
          alt="Sunset in the mountains"
        />
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
          <p class="text-gray-700 text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Voluptatibus quia, nulla! Maiores et perferendis eaque,
            exercitationem praesentium nihil.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            >#photography</span
          >
          <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            >#travel</span
          >
          <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            >#winter</span
          >
        </div>
      </div>
      <div
        class="max-w-sm rounded overflow-hidden shadow-lg"
        data-aos="zoom-out"
        data-aos-duration="1000"
      >
        <img
          class="object-fit"
          [src]="serviceImg"
          alt="Sunset in the mountains"
        />
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
          <p class="text-gray-700 text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Voluptatibus quia, nulla! Maiores et perferendis eaque,
            exercitationem praesentium nihil.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            >#photography</span
          >
          <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            >#travel</span
          >
          <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            >#winter</span
          >
        </div>
      </div>
      <div
        class="max-w-sm rounded overflow-hidden shadow-lg"
        data-aos="zoom-out"
        data-aos-duration="1000"
      >
        <img
          class="object-fit"
          [src]="serviceImg"
          alt="Sunset in the mountains"
        />
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
          <p class="text-gray-700 text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Voluptatibus quia, nulla! Maiores et perferendis eaque,
            exercitationem praesentium nihil.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            >#photography</span
          >
          <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            >#travel</span
          >
          <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
            >#winter</span
          >
        </div>
      </div>
    </div>

    <div class="contact mt-10 mb-40 flex flex-col items-center">
      <h2 class="text-2xl mb-10">Contact Us</h2>
      <button
        class="w-52 p-4 border-2 border-black rounded-md hover:bg-emerald-200 transition ease-in-out delay-50"
        routerLink="/contact"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Let's talk
      </button>
    </div>
  </div>
</section>
